apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: flask-project
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/sandymaraf/flask-project
    targetRevision: main
    path: k8s

  destination:
    server: https://kubernetes.default.svc
    namespace: flask

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true